<html>
    <head>
        <script src="./js/angular/angular.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controllers/main.js"></script>
    </head>
    <body ng-app="bigboxapp">
        <div ng-controller="mainController">
            <input ng-model="params.msisdn" placeholder="MSISDN">
            <br>
            <textarea ng-model="params.text" placeholder="text message"></textarea>
            <button ng-click="send()">{{ loading ? 'loading...': 'send'}}</button>
        </div>
    </body>
</html>