
<svg x="{{posX}}"  y="{{posY}}" height="120" width="50">
    <svg x="0" height="45" width="50" y="{{labelPos == 'bottom' ? 80 : 0 }}">
        <text class="odonto-label" x="50%" y="{{labelPos == 'bottom' ? 30 : 10 }}" dominant-baseline="middle" text-anchor="middle">{{teeth.erupt}}</text>
        <text class="odonto-label" x="50%" y="{{labelPos == 'bottom' ? 10 : 30 }}" dominant-baseline="middle" text-anchor="middle">{{label}}</text>        
    </svg>
    <svg x="0" y="{{labelPos == 'bottom' ? 25 : 40 }}" height="50" width="50">
        
        <polygon ng-if="type == 'square'" ng-click="click('left')" points="15,15 15,35 0,50 0,0" style="fill:{{color[teeth.left.fillColor]}};stroke:black;stroke-width:{{teeth.left.strokeWidth}}"/>
        <polygon ng-if="type == 'square'" ng-click="click('top')" points="15,15 35,15 50,0 0,0" style="fill:{{color[teeth.top.fillColor]}};stroke:black;stroke-width:{{teeth.top.strokeWidth}}"/>
        <polygon ng-if="type == 'square'" ng-click="click('right')" points="35,15 35,35 50,50 50,0" style="fill:{{color[teeth.right.fillColor]}};stroke:black;stroke-width:{{teeth.right.strokeWidth}}"/>
        <polygon ng-if="type == 'square'" ng-click="click('bottom')" points="15,35 35,35 50,50 0,50" style="fill:{{color[teeth.bottom.fillColor]}};stroke:black;stroke-width:{{teeth.bottom.strokeWidth}}"/>
        <polygon ng-if="type == 'square'" ng-click="click('center')" points="15,35 35,35 35,15 15,15" style="fill:{{color[teeth.center.fillColor]}};stroke:black;stroke-width:{{teeth.center.strokeWidth}}" />
        
        <polygon ng-if="type != 'square'" ng-click="click('left')" points="15,17.5 15,17.5 0,50 0,0" style="fill:{{color[teeth.left.fillColor]}};stroke:black;stroke-width:{{teeth.left.strokeWidth}}"/>
        <polygon ng-if="type != 'square'" ng-click="click('top')" points="15,17.5 35,17.5 50,0 0,0" style="fill:{{color[teeth.top.fillColor]}};stroke:black;stroke-width:{{teeth.top.strokeWidth}}"/>
        <polygon ng-if="type != 'square'" ng-click="click('right')" points="35,17.5 35,17.5 50,50 50,0" style="fill:{{color[teeth.right.fillColor]}};stroke:black;stroke-width:{{teeth.right.strokeWidth}}"/>
        <polygon ng-if="type != 'square'" ng-click="click('bottom')" points="15,17.5 35,17.5 50,50 0,50" style="fill:{{color[teeth.bottom.fillColor]}};stroke:black;stroke-width:{{teeth.bottom.strokeWidth}}"/>
        

        <polygon points="5,0 25,25 5,50 25,25 45,0 25,25 45,50" style="stroke:black;stroke-width:4;display:{{teeth.mis ? '' : 'none' }}" ng-click="teeth.mis = !teeth.X"/>
        <polygon points="7.5,0 25,50 42.5,0 25,50 7.5,0" style="stroke:black;stroke-width:4;display:{{teeth.rrx ? '' : 'none' }}" ng-click="teeth.rrx = !teeth.rrx"/>
        <polygon ng-show="teeth.fracture" ng-click="teeth.fracture = !teeth.fracture" points="10,17.5 40,17.5" style="stroke:black;stroke-width:3" ></polygon>
        <polygon ng-click="teeth.fracture = !teeth.fracture" ng-show="teeth.fracture"points="10,32.5 40,32.5" style="stroke:black;stroke-width:3" ></polygon>
        <polygon ng-click="teeth.fracture = !teeth.fracture" ng-show="teeth.fracture" points="20,7.5 12.5,42.5" style="stroke:black;stroke-width:3" ></polygon>
        <polygon ng-click="teeth.fracture = !teeth.fracture" ng-show="teeth.fracture" points="37.5,7.5 30,42.5" style="stroke:black;stroke-width:3" ></polygon>
        <polygon ng-show="teeth.fmc" ng-click="teeth.fmc = !teeth.fmc" points="0,0 0,50 50,50 50,0 0,0 50,0 50,50 0,50 0,0" style="fill:white;stroke:black;stroke-width:5"/>
    </svg>                    
    <svg x="0" y="{{labelPos == 'bottom' ? -1 : 90 }}">
        <polygon ng-show="labelPos != 'bottom'" ng-click="click('rct')" points="12.5,0 25,25, 37.5,0, 12.5,0" style="fill:{{teeth.rct ? 'black' : 'white'}};stroke:{{teeth.rct || teeth.nvt ? 'black' : 'white'}};stroke-width:1"/>
        <polygon ng-show="labelPos == 'bottom'" ng-click="click('rct')" points="12.5,25 25,0, 37.5,25, 12.5,25" style="fill:{{teeth.rct ? 'black' : 'white'}};stroke:{{teeth.rct || teeth.nvt ? 'black' : 'white'}};stroke-width:1"/>
        <polygon ng-show="teeth.arrowRight" ng-click="teeth.arrowRight = !teeth.arrowRight" points="10,12.5 40,12.5 38,10 38,15 40,12.5 " style="stroke:black;stroke-width:1"/>
        <polygon  ng-show="teeth.arrowLeft" ng-click="teeth.arrowLeft = !teeth.arrowLeft"  points="40,12.5 10,12.5 12,10 12,15 10,12.5 " style="stroke:black;stroke-width:1"/>
    </svg>
</svg>